# exclude changes done by make process
Makefile
Makefile.chatcleaner
Makefile.pokerth_db
Makefile.pokerth_game
Makefile.pokerth_lib
Makefile.pokerth_protocol
Makefile.pokerth_server
Makefile.pokerth_dbofficial
Makefile.pokerth_qml-client
bin/
pokerth
pokerth_qml-client
moc_*
*.o
.qmake.stash
build*/
docker/android/build/
/chatcleaner
lib/
mocs/
obj/
/pokerth
src/third_party/protobuf/*
qrc_pokerth.cpp
qrc_qml.cpp
uics/
make.sh
gitpush_serverstuff_stable
.vscode/
.project
.classpath
qmake_qmake_qm_files.qrc
qrc_qmake_qmake_qm_files.cpp
.qm
.DS_Store
*.log
*lldb*

# Client runtime directories (created by run_client*.sh scripts)
.pokerth_client1/
.pokerth_client2/

# CMake build artifacts
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CMakeFiles/
*.cmake
.cmake/

# CMake autogen files
*_autogen/
*_autogen/
*_autogen/

# Qt build metadata
.qt/
.lupdate/
*.depends

# Generated libraries
*.a
libpokerth_protocol.a

# IDE and OS files
*.swp
*.swo
*~
